mat-sidenav-container {
    height: 100%;
}



.mat-sidenav {
    width: 420px;
    background-color: white;
    padding: 16px;
}

.mat-sidenav-content {
    background-color: white;

}





.mat-sidenav-container .profile {

    align-items: center;
    display: flex;
}

.mat-sidenav-container .profile img {

    position: absolute;
    width: 40px;
    height: 40px;
    left: 32px;
    top: 25px;

}

.mat-sidenav-container .profile h3 {
    color: black;
    position: absolute;
    width: 187px;
    height: 36px;
    left: 77px;
    top: 28px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;


}

.mat-sidenav-container ul li a {
    display: block;
    padding: 3px 30px;
    color: black;
}

.mat-sidenav-container .bottom-content {
    position: absolute;
    bottom: 0;

}

.mat-sidenav-container .bottom-content ul li a {
    display: block;

    color: black;
}

.mat-sidenav-container ul li i {
    margin-right: 16px;
}

#about {
    width: calc(100% - 300px);

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 200px;
    padding-top: 200px;
}



.search-box {
    border-radius: 4px;

    background: #FFFFFF;
    height: 48px;

    border: 1px solid #003167;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}





.search-box input {
    border: none;
    margin: 10px 5px 10px;
    font-size: 20px;
    outline: none;
    color: black;
}

.search-box i {
    font-size: 20px;
    margin: 0px 24px;
    color: #0076FF;
}



button {
    background: transparent;
    border: none;
}

.Departments h1 {
    font-size: 34px;
    text-align: center;
    font-family: poppins;
    font-weight: 600;
}

.Departments p {

    font-size: 17px;

    color: #000000;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;


    /* identical to box height */


    color: #000000;


}