<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">
        <div class="profile">
            <img src="assets/dp.png">
            <h3 style="font-family: poppins;">Hello, Surya</h3>
            <button (click)="opened=!opened"
                style="left: 377px; background-color:white; border: white; position: absolute; top: 28px; font-size: 30px;">
                <i class="fa-solid fa-xmark"></i></button>
        </div>
        <hr style="position: absolute;
        width: 100%;
        height: 0px;
        left: 0px;
        top: 57px;
        
        border: 1px solid #AEAEAE;">

        <mat-nav-list style="padding-top: 80px; padding-left:10px; ">
            <mat-list-item style="height:32px ; ">
                <img src="assets/note.png" style="
            width: 30px;
            height: 30px;
            left: 45px;
            top: 108px;">
                <span style="color: black ; font-size: 15px; font-family: poppins;">Customize View</span>
                <i class="fa-solid fa-arrow-right" style="padding-left: 52%;"></i>
            </mat-list-item>

            <mat-list-item style="height:30px ;">

                <img src="assets/filter.png" style="width: 32px;
            height: 32px;
            left: 45px;
            top: 108px;">
                <span style="color: black ; font-size: 15px; font-family: poppins; ">Filter Results</span>
                <i class="fa-solid fa-arrow-right" style="padding-left: 59%;"></i>
            </mat-list-item>
            <mat-list-item style="height:30px ;">

                <img src="assets/download (1).png" style="left:45px ;">
                <span style="color: black ; font-size: 15px; font-family: poppins; ">Download CSV</span>

            </mat-list-item>
            <mat-list-item style="height:30px ;">

                <img src="assets/keyword.png" style="left: 45px;">
                <span style="color: black ; font-size: 15px; font-family: poppins; ">Keyword Cloud</span>

            </mat-list-item>
            <mat-list-item style="height:30px ;">

                <img src="assets/trend.png" style="margin: 1%;">
                <span style="color: black ; font-size: 15px; font-family: poppins; ">Search Trends</span>

            </mat-list-item>
            <mat-list-item style="height:30px ;">

                <img src="assets/screenshot.png">
                <span style="color: black ; font-size: 15px; font-family: poppins; ">Download Screenshot</span>

            </mat-list-item>
            <div class="bottom" style="bottom:0; position: absolute; padding-bottom:25px ;">
                <hr style="margin-top: 5px; border:1px solid #AEAEAE; width: 100%;">
                <mat-list-item style="height:30px ;">
                    <img src="assets/help.png" style="padding-right:4px ;"> <span
                        style="color:black ; font-size: 15px;">Help</span>
                    <i class="fa-solid fa-arrow-right" style="padding-left:260px"></i>
                </mat-list-item>
                <mat-list-item style="height:30px ;">
                    <img src="assets/settings (1).png" style="padding-right: 4px;">
                    <span style="color:black ; font-size: 15px;">Account Settings</span>
                    <i class="fa-solid fa-arrow-right" style="padding-left: 178px;"></i>
                </mat-list-item>
                <mat-list-item style="height:30px ;">
                    <img src="assets/logout.png" style="padding-right:4px ;">
                    <span style="color:black ; font-size: 15px;">Log Out</span>
                </mat-list-item>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="background-color: #003167; width: 100%;">
            <button (click)=" opened=!opened"
                style="color: white; background-color: #003167 ; border: #003167; font-family: poppins;"> <i
                    class="fa fa-bars" aria-hidden="true"></i>
                Menu
            </button>
            <img src="assets/icon.png" style="padding-left: 40% ; height:55px;  ">
            <i class="fa-solid fa-arrow-rotate-right"
                style="padding-left:43% ; margin:1%; font-size: 25px; color: white;"></i>
            <i class="fa-solid fa-xmark" style="font-size: 30px; color:white;"></i>
        </mat-toolbar>

        <section id="about">
            <div class="container">


                <div class="search-box">
                    <form>
                        <button type="submit"><i class="fa fa-search"></i></button>
                        <input type="text" placeholder="Search" style="color:#0076FF ;">
                        <button type="submit"><i class="fa fa-microphone"></i></button>
                    </form>
                </div>

                <div class="Departments">
                    <h1> Try Performing a Search</h1>
                    <br>
                    <p style="font-weight:600 ;">1. Click on the search bar above</p>
                    <br>
                    <p style="font-weight:600  ;">2. Enter a product idea</p>
                    <br>

                    <p style="font-weight:600 ;">3. Click on the icon to view the listing information</p>



                </div>

            </div>
        </section>

    </mat-sidenav-content>
</mat-sidenav-container>